/* Student Rubric */
.rubric table.table-bordered{
    border:1px solid black;
  }

.rubric table.table-bordered > thead > tr > th{
    border:1px solid black;
    text-align: center;
}

.rubric table.table-bordered > tbody > tr > th{
    border:1px solid black;
    background-color: lavenderblush;
}

.rubric table.table-bordered > tbody > tr > td{
    border:1px solid black;
}

.rubric input {
    text-align: center;
}

.signature table.table-bordered > tbody > tr > td{
    border:1px solid white;
}

.signature table.table-bordered > tbody > tr > th{
    border:1px solid white;
    text-align: right;
    background-color: white;
}


/* Download Proposal */
.downloadProposal table.table-bordered{
    border:1px solid black;
  }

.downloadProposal table.table-bordered > tbody > tr > th{
    border:1px solid black;
    background-color: gainsboro;
    text-align: center;
}

.downloadProposal table.table-bordered > tbody > tr > td{
    border:1px solid black;
    text-align: center;
}


/* Form 1 */
.form1 table.table-bordered{
    border:1px solid black;
}

.form1 table.table-bordered > tbody > tr > th{
    border:1px solid black;
    background-color: gainsboro;
}

.form1 table.table-bordered > tbody > tr > td{
    border:1px solid black;
}


/* Form 2 */
.form2 table.table-bordered{
    border:1px solid black;
}

.form2 table.table-bordered > tbody > tr > th{
    border:1px solid black;
    background-color: gainsboro;
    text-align: center;
}

.form2 table.table-bordered > tbody > tr > td{
    border:1px solid black;
    text-align: center;
}


/* Form 3 */
.form3 table.table-bordered{
    border:1px solid black;
}

.form3 table.table-bordered > thead > tr > th{
    border:1px solid black;
    background-color: gainsboro;
    text-align: center;
}

.form3 table.table-bordered > tbody > tr > th{
    border:1px solid black;
    background-color: gainsboro;
}

.form3 table.table-bordered > tbody > tr > td{
    border:1px solid black;
}

.form3 input {
    text-align:center;
}


/* Mark Summary */
.markSummary table.table-bordered{
    border:1px solid black;
}

.markSummary table.table-bordered > thead > tr > th{
    border:1px solid black;
    background-color: gainsboro;
    text-align: center;
}

.markSummary table.table-bordered > tbody > tr > td{
    border:1px solid black;
    text-align: center;
}

